.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}
/* 
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

a {
  color: white;
  text-decoration: none;
}

.welcome-statement {
  margin-left: 250px;
  margin-right: 250px;
  background-color: white;
}

img.app-image {
  /* Set rules to fill background */
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
