@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css?family=Merriweather"); /* IE9 Compat Modes */
}
.main-bar {
  /* height: 10%; */
  /* text-align: center; */
  /* padding-bottom: 30px; */
  /* margin-bottom: 30px;
  font-size: 35px; */
  font-family: "Merriweather", sans-serif;
  /* vertical-align: middle; */
}
.menutext {
  white-space: "nowrap";
  vertical-align: "center";
}
